@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

body{
    background: url("imgs/redwpp.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: Roboto;
}
/* NAV */
nav{
    border-bottom: 1px solid red;
    margin-bottom: 1%;
}
nav div{
    display: inline-block;
    padding: 1% 0 1% 1%;
}
/* Sev à gauche */
nav div div .logo {
    display: inline-block;
    height: 75px;
    width: 75px;
    padding-right: 1%;
    float: both;
}
/*Titre */
body nav div div titrePage{
    display: inline-block;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0);
}

nav div div h1{
    color: red;
}


body div{
    top: 0;
    text-align: center;
    padding-bottom: 1%;
}

body div h1{
    color: beige;
}
/*FORMULAIRE*/
form {
    /* Pour le centrer dans la page */
    margin: 0 auto;
    width: 60%;
    /* Pour voir les limites du formulaire */
    padding: 1em;
    border: 1px solid rgb(255, 0, 0);
    border-radius: 1em;
    text-align: center;
}

form div + div {
    margin-top: 1em;
}

label {
    /* Afin de s'assurer que toutes les étiquettes aient la même dimension et soient alignées correctement */
    display: inline-block;
    width: 15%;
    color: beige;
}

body form div input, textarea {
    /* Afin de s'assurer que tous les champs textuels utilisent la même police
       Par défaut, textarea utilise une police à espacement constant */
    font: 1em sans-serif;

    /* Pour donner la même dimension à tous les champs textuels */
    width: 40%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    /* Pour harmoniser l'apparence des bordures des champs textuels */
    border: 1px solid rgb(255, 0, 0);
    background-color: lightgray;
}

#courriel:focus, #nom:focus, textarea:focus {
    /* Afin de rehausser les éléments actifs */
    border-color: #000;
}

textarea {
    /* Pour aligner correctement les champs multilignes et leurs étiquettes */
    vertical-align: top;

    /* Pour donner assez d'espace pour entrer du texte */
    height: 5em;

    /* Pour permettre aux utilisateurs de redimensionner un champ textuel horizontalement
       Cela ne marche pas avec tous les navigateurs  */
    resize: vertical;
}

/* Onglets */
  
h1 {
    padding: 50px 0;
    font-weight: 400;
    text-align: center;
}
  
p {
    margin: 0 0 20px;
    line-height: 1.5;
}
  
.main {
    min-width: 320px;
    padding: 50px;
    margin: 0 auto;
    background: transparent;
}
  
section {
    display: none;
    padding: 20px 0 0;
    border-top: 1px solid rgb(255, 0, 0);
}
  
#tab1, #tab2, #tab3, #tab4 {
    display: none;
}
  
label {
    display: inline-block;
    width: 25%;
    font-weight: 600;
    text-align: center;
    color: beige;
    border: 1px solid transparent;
}
  
label:before {
    font-weight: normal;
    margin-right: 10px;
}
  
label[for*='1']:before { content: '\f1cb'; }
label[for*='2']:before { content: '\f17d'; }
label[for*='3']:before { content: '\f16b'; }
label[for*='4']:before { content: '\f1a9'; }
  
label:hover {
    color: rgba(255, 0, 0, 0.315);
    cursor: pointer;
}
  
input:checked + label {
    color: #555;
    border: 1px solid rgb(255, 0, 0);
    border-top: 2px solid rgb(255, 0, 0);
    border-bottom: 1px solid rgba(255, 0, 0, 0.308);
}
  
#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
    display: block;
}
  
@media screen and (max-width: 650px) {
    label {
      font-size: 0;
    }
    label:before {
      margin: 0;
      font-size: 18px;
    }
}
  
@media screen and (max-width: 400px) {
    label {
      padding: 15px;
    }
}