body{
    background: url("imgs/redwpp.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}


table {
    text-align: center;
    background-color: transparent;
    color: beige;
    width: 80%;

    transform: translate(12.5%, 17.5%);
}

tr {
    text-align: center;
}

th {
    padding: 20px;
    border-right: 1px solid red;
}

td {
    padding: 110px 10px;
    border-right: 1px solid red;
    border-bottom: 1px solid red;
    transform: scale(1.0001);
}

.tabHeures{
    border-top: 1px solid red;
}

/*footer{
    text-align: center;
    border-top: 1px solid red;
    color: beige;
    
}*/