@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');


/* Body */
body {
    font-family: Roboto;
    background: url("imgs/redwpp.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.watermark{
    float: right;
    top: 0;
}

p{
    color: rgba(255, 0, 0, 0.3);
    font-size: 8px;
}

#logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
}

a{
    display: block;
    background-color: rgba(0, 0, 0, 0);
}
img{
    height: 250px;
    width: 250px;
}

.pulse {
    display: block;
    border-radius: 50%;
    background: #00000000;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(122, 3, 3, 0.4);
    animation: pulse 2s infinite;
}
.pulse:hover {
    animation: pulse2 1s infinite;
}
      
@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(204, 44, 44, 0.4);
    }
    50% {
        -webkit-box-shadow: 0 0 0 25px rgba(204, 44, 44, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204, 44, 44, 0);
    }
}
@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(204, 44, 44, 0.4);
        box-shadow: 0 0 0 0 rgba(204, 44, 44, 0.4);
    }
    50% {
        -moz-box-shadow: 0 0 0 25px rgba(204, 44, 44, 0);
        box-shadow: 0 0 0 25px rgba(204, 44, 44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204, 44, 44, 0);
        box-shadow: 0 0 0 0 rgba(204, 44, 44, 0);
    }
}

@-webkit-keyframes pulse2 {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(226, 21, 21, 0.4);
    }
    50% {
        -webkit-box-shadow: 0 0 0 25px rgba(226, 21, 21, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(226, 21, 21, 0);
    }
}
@keyframes pulse2 {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(226, 21, 21, 0.4);
        box-shadow: 0 0 0 0 rgba(226, 21, 21, 0.4);
    }
    50% {
        -moz-box-shadow: 0 0 0 50px rgba(226, 21, 21, 0);
        box-shadow: 0 0 0 50px rgba(226, 21, 21, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(226, 21, 21, 0);
        box-shadow: 0 0 0 0 rgba(226, 21, 21, 0);
    }
}
