@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

body{
    background: url("imgs/redwpp.jpg");
    font-family: Roboto;
}
/* NAV */
nav{
    border-bottom: 1px solid red;
    margin-bottom: 1%;
}
nav div{
    display: inline-block;
    padding: 1% 0 1% 1%;
}
/* Sev à gauche */
nav div div .logo {
    display: inline-block;
    height: 75px;
    width: 75px;
    padding-right: 1%;
    float: both;
}
/*Titre */
body nav div div titrePage{
    display: inline-block;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0);
}

nav div div h1{
    color: red;
}


body div{
    top: 0;
    text-align: center;
    padding-bottom: 1%;
}

body div h1{
    color: red;
}
/*FORMULAIRE*/
form {
    /* Pour le centrer dans la page */
    margin: 0 auto;
    width: 60%;
    /* Pour voir les limites du formulaire */
    padding: 1em;
    border: 1px solid rgb(255, 0, 0);
    border-radius: 1em;
    text-align: center;
}

form div + div {
    margin-top: 1em;
}

label {
    /* Afin de s'assurer que toutes les étiquettes aient la même dimension et soient alignées correctement */
    display: inline-block;
    width: 15%;
    color: beige;
}

input, textarea {
    /* Afin de s'assurer que tous les champs textuels utilisent la même police
       Par défaut, textarea utilise une police à espacement constant */
    font: 1em sans-serif;

    /* Pour donner la même dimension à tous les champs textuels */
    width: 40%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    /* Pour harmoniser l'apparence des bordures des champs textuels */
    border: 1px solid rgb(255, 0, 0);
    background-color: lightgray;
}

input:focus, textarea:focus {
    /* Afin de rehausser les éléments actifs */
    border-color: #000;
}

textarea {
    /* Pour aligner correctement les champs multilignes et leurs étiquettes */
    vertical-align: top;

    /* Pour donner assez d'espace pour entrer du texte */
    height: 5em;

    /* Pour permettre aux utilisateurs de redimensionner un champ textuel horizontalement
       Cela ne marche pas avec tous les navigateurs  */
    resize: vertical;
}

/* Onglets */

#onglets{
    position : absolute;
    border : 1px solid transparent;
    padding : 0;
    list-style-type : none;
    left : 0;
    margin-top : 0;
    width : 100%;
}

#onglets li{
    float : left;
    /*height : 21px; /* à modifier suivant la taille de la police pour centrer le texte dans l'onglet */
    background-color: rgba(244, 249, 253, 0);
    margin : 2px 2px 0 2px;  /* Pour les navigateurs autre que IE */
    /*margin : 1px 2px 0 2px;  /* Pour IE  */
    border : 1px solid rgba(255, 0, 0, 0.349);
    cursor: pointer;
}
#onglets li.active{
    border-bottom: 1px solid #fff;
    background-color: rgba(255, 0, 0, 0.226);
    color: beige;
}
#onglets a{
    display : block;
    color : rgb(255, 0, 0);
    text-decoration : none;
    padding : 4px;
}
#onglets a:hover{
    background : rgb(119, 0, 0);
    color: beige;
}
#menu{
    padding-bottom : 30px;
}