@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

body{
    background: url("imgs/fond2.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: Roboto;
}
/* NAV */
nav{
    border-bottom: 1px solid rgb(255, 125, 0);
    padding: 1% 1% 0 1%;
}
nav div{
    display: inline-block;
}

/* Logo NAV */
nav div a img{
    height: 75px;
}

nav .sev{
    height: 75px;
    float: right;
}

/*Titre */
body nav div div titrePage{
    display: inline-block;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0);
}

nav div div h1{
    color: rgb(255, 125, 0);
}


body div{
    top: 0;
    text-align: center;
    padding-bottom: 1%;
}

body div h1{
    color: beige;
}
/*FORMULAIRE*/
form {
    /* Pour le centrer dans la page */
    margin: 0 auto;
    width: 60%;
    /* Pour voir les limites du formulaire */
    padding: 1em;
    border: 1px solid rgb(255, 125, 0);
    border-radius: 1em;
    text-align: center;
}

form div + div {
    margin-top: 1em;
}

label {
    /* Afin de s'assurer que toutes les étiquettes aient la même dimension et soient alignées correctement */
    display: inline-block;
    width: 15%;
    color: beige;
}

body form div input, textarea {
    /* Afin de s'assurer que tous les champs textuels utilisent la même police
       Par défaut, textarea utilise une police à espacement constant */
    font: 1em sans-serif;

    /* Pour donner la même dimension à tous les champs textuels */
    width: 40%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    /* Pour harmoniser l'apparence des bordures des champs textuels */
    border: 1px solid rgb(255, 125, 0);
    background-color: lightgray;
}

#courriel:focus, #nom:focus, textarea:focus {
    /* Afin de rehausser les éléments actifs */
    border-color: #000;
}

textarea {
    /* Pour aligner correctement les champs multilignes et leurs étiquettes */
    vertical-align: top;

    /* Pour donner assez d'espace pour entrer du texte */
    height: 5em;

    /* Pour permettre aux utilisateurs de redimensionner un champ textuel horizontalement
       Cela ne marche pas avec tous les navigateurs  */
    resize: vertical;
}

/* Onglets */
  
h1 {
    padding: 50px 0;
    font-weight: 400;
    text-align: center;
}
  
p {
    margin: 0 0 20px;
    line-height: 1.5;
    color: beige;
}
  
.main {
    min-width: 320px;
    padding: 10px 50px 50px 50px;
    margin: 0 auto;
    background: transparent;
}
  
section {
    display: none;
    padding: 20px 0 0;
    border-top: 1px solid rgb(255, 125, 0);
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
     -ms-animation: fadein 2s; /* Internet Explorer */
      -o-animation: fadein 2s; /* Opera < 12.1 */
         animation: fadein 2s;
}


@keyframes fadein {
 from { opacity: 0; }
 to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
 from { opacity: 0; }
 to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
 from { opacity: 0; }
 to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
 from { opacity: 0; }
 to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
 from { opacity: 0; }
 to   { opacity: 1; }
}

  
#tab1, #tab2, #tab3, #tab4{
    display: none;
}
  
label {
    display: inline-block;
    width: 15%;
    font-weight: 600;
    text-align: center;
    color: beige;
    border: 1px solid transparent;
    margin-bottom: 0;
}
  
label:before {
    font-weight: normal;
}
  
label[for*='1']:before { 
    content: url('imgs/twitchicon.png'); 
    display: inline-block;
    margin-right: 10px;
    padding-top: 5px;
    transform: translate(0, 10%)
}
label[for*='2']:before { 
    content: url('imgs/calendaricon.png'); 
    display: inline-block;
    margin-right: 10px;
    padding-top: 5px;
    transform: translate(0, 5%)
}
label[for*='3']:before { 
    content: url('imgs/mailicon.png'); 
    display: inline-block;
    margin-right: 10px;
    padding-top: 5px;
    transform: translate(0, 5%)
}
label[for*='4']:before { 
    content: url('imgs/moneyicon.png');
    display: inline-block;
    margin-right: 10px;
    padding-top: 5px;
    transform: translate(0, 5%)
}

label:hover {
    color: rgba(255, 125, 0, 0.315);
    cursor: pointer;
}
  
input:checked + label {
    color: beige;
    border: 1px solid rgb(255, 125, 0);
    border-top: 2px solid rgb(255, 125, 0);
    border-bottom: 1px solid transparent;
    background-color: rgba(255, 125, 0, 0.1);
}
  
#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4, 
#tab5:checked ~ #content5{
    display: block;
}

@media screen and (max-width: 1028px) {
    label {
        font-size: 15px;
      }
      label:before {
        margin: 0;
        font-size: 15px;
      }
}

@media screen and (max-width: 965px) {
    label {
        font-size: 12px;
      }
      label:before {
        margin: 0;
        font-size: 12px;
      }
}

@media screen and (max-width: 795px) {
    label {
      font-size: 0;
    }
    label:before {
      margin: 0;
      font-size: 18px;
    }
}
  
@media screen and (max-width: 400px) {
    label {
      padding: 15px;
    }
}

/* Twitch */
.twitchWrapper {
    position: relative;
    width: 85%;
}

.twitchStream {
    position: relative;
    width:75%;
}
    
.twitchStream:before{
    content: "";
    display: block;
    padding-top: 56.25%; /* 16:9 */
}
    
.twitchChat{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 25%;
}
    
.twitchStream iframe, .twitchChat iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
     
@media (max-width: 1024px) {
    .twitchStream{
        width:100%;
    }
    .twitchChat{
        display:none;
    }
}

/* PROGRAMMATION*/

p{
    padding: 0;
    margin: 0;
}

.cadre{
    width: 90%;
    margin-right: 0;
    margin-left: 2%;
}

.col{   
    float: left;
    margin: 1% 0 0 0;
    width: 12%;
    min-height: 50px;
}

.hour{
    height: 80px;
    width: 50px;
    float: right;
    font-size: 25px;
    font-variant: small-caps;
    clear: both;
    padding-right: 5px;
    text-align: right;
    /*text-shadow: 0px 0px 10px black;*/
}

.day{
    width: 100%;
    height: 35px;
    margin-bottom: 15px;
    /*text-shadow: 0px 0px 10px black;*/
}

.day p{
    font-size: 30px;    
    text-align: center;
    font-weight: bold;
}

.separator{
    background: -webkit-radial-gradient(#aa4e23 30%,transparent 70%); 
    width: 3px;
    height: 560px;
    float: left;
    margin-top: 40px;
}

.prog_part{
    border: 1px solid #aa5923;
    position: relative;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 5px;
    /*box-shadow: 0px 0px 10px rgba(0,0,0,0.5);*/
}

.prog_part video{
    width: auto;
    position: absolute;
    margin-left: -280px;
    height: 241px;
}

.square_centered video{
    margin-left: -105%;
}

.square{
    width: 100%;
    height: 241px;
}

.prog_part p{
    position: absolute;
    z-index: 10;
    width: 100%;
    text-align: center;
    text-shadow: 0px 0px 5px black;
    font-size: 20px;
}

.prog_part img{
    height: 120%;
    margin-left: -142.5%;
}

.fourhour{
    width: 100%;
    height: 492px;
}

.fourhour video{
    height: 493px;
}

.links{
    list-style: none;
}

/*RESEAUX*/

.edit {
    display: block;
    top: 15px;
    right: 15px;
    margin-bottom: 35px;
    padding: 30px 15px 30px 15px;
    color: beige;
    border: 2px solid rgb(255, 125, 0);
    text-decoration: none;
    position: relative;
    transition: all 0.2s ease;
}

.edit:before {
    content: "";
    background-image: url(imgs/DessinLila01.png);
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    display: block;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}

.edit:hover {
    background-color: rgba(255, 123, 0, 0.3);
    text-decoration: none;
    color: beige;
    box-shadow: 2px;
    animation: pulse 1s;
}

.edit:focus {
    background-color: white;
    color: black;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(122, 51, 3, 0.4);
    }
    50% {
        -webkit-box-shadow: 0 0 0 15px rgba(122, 51, 3, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(122, 51, 3, 0);
    }
}
@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(122, 51, 3, 0.4);
        box-shadow: 0 0 0 0 rgba(122, 51, 3, 0.4);
    }
    50% {
        -moz-box-shadow: 0 0 0 15px rgba(122, 51, 3, 0);
        box-shadow: 0 0 0 15px rgba(122, 51, 3, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(122, 51, 3, 0);
        box-shadow: 0 0 0 0 rgba(122, 51, 3, 0);
    }
}
