body{
    background: url("imgs/redwpp.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}


table {
    text-align: center;
    background-color: white;
    border-radius: 5px;
    margin: 0 auto;
    border-spacing: 0;
    padding: 5px;
}

tr:nth-child(even) {
    color: black;
}

tbody tr:nth-child(odd) {
    background-color: rgb(91, 91, 91);
    color: white;
}

tr {
    font-family: Roboto;
    text-align: center;
}

th, td {
    padding: 20px;
}