@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');


/* Body */
body {
    background: black;
    font-family: Roboto;
}

/* Nav */
nav{
    text-align: center;
    border-bottom: 1px solid red;
}
nav div{
    display: inline-block;
}
nav div .logo {
    display: inline-block;
    height: 50px;
    width: 50px;
}

/* Sev à gauche */
nav .pseudogauche {
    float: left;
}

nav div h1{
    color: red;
    margin: 10px 0 0 10px;
}


/* Onglets */




/* Twitch */
.boite{
    display: inline-block;
    padding: 3% 0 3% 0;
}



/* Footer */
footer{
    border-top: 1px solid red;
}

footer div{
    text-align: center;
}

footer div p{
    color: red;
}
